body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #b6c1ed;
}

a {
    text-decoration: none;
}

#bg-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box-login{
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    background-color:rgb(86, 90, 204);
    padding: 15px;
    box-sizing: border-box;
}
.box-login h2{
    text-align: center;
    margin-bottom: 15px;
}
.btn-login{
    padding: 8px 15px;
    background-color: #b6c1ed;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btn-login:hover {
    background-color:rgb(156, 146, 208);
}

.input-control{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

aside {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #918fdf;
}

header {
    text-align: center;
    padding: 20px 0;
}

.brand {
    width: 80px;
}

.user {
    font-weight: bold;
    padding-top: 10px;
}

main {
    margin-left: 210px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    padding: 10px 20px;
    margin: 5px 0 5px 0;
    display: block;
    color: #000000;
}

nav a:hover {
    background-color: #7769be;
}

nav .icon {
    width: 25px;
    float: left;
    padding-right: 10px;
}

.info {
    background-color: #e1dbf7;
    padding: 20px;
    margin-top: 10px;
}

table {
    margin: 15px 0;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    width: 75%;
}

table th {
    border: 1px solid #c7d0fd;
    padding: 8px;
    background-color: #8a96cf;
}

table tr td {
    border: 1px solid #656fca;
    padding: 8px;
    text-align: center;
}

.btn {
    background-color: #716fc0;
    border-radius: 4px;
    color: #ffffff;
    padding: 5px;
}

.btn:hover {
    background-color: #a297d7;
}

footer {
    position: fixed;
    bottom: 0px;
    padding: 20px 0 20px 10px;
    background-color: #918fdf;
    width: 100%;
    border-top: 1px solid #5f3bb9;
}